.search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search input {
    width: 50%;
    height: 40px;
    font-size: 1.4rem;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 6px;
    padding: 5px 10px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.search input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}